.img,.vidio{
    max-height: 90%;
    box-shadow: 4px 3px 7px 0px #444;
}
.loading{
    font-size: 24px;
    color:#fff;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             