$family : 'Malgun Gothic', 'Nanum Gothic', 'Lucida Grande', 'Open Sans', 'roboto', 'AppleGothic', 'Arial', 'Meiryo', 'Hiragino Kaku Gothic Pro', 'NanumBarunGothic','Malgun Gothic', dotum, "돋음",'sans-serif';
$black : #343434;
$white : #ffffff;
$point: #55b5cc;
$red:#f03e3e;
$grean:#12b886;
$blue:#228ae6;